<!-- alerts.html -->
<div style="height:100%;">
	<header id="content-header">
		<div style="display:inline-block;">
			<p>Alerts <span class="label label-info" style="background-color:red;">{{ todos.length }}</span></p>	
		</div>	
	</header>
	<section style="width:100%;height:77%;">
		<div style="width:100%;height:12%;">
			<div class="form-group has-feedback" ng-show="todos.length" style="position:absolute;width:50%;margin:20px;">
				<input type="text" class="form-control input-md text-center" ng-model="title">
				<i class="glyphicon glyphicon-search form-control-feedback"></i>
			</div>
		</div>	
		<div style="width:100%;height:97%;overflow-y:scroll;">	
			<div style="width:88%;margin-top:15px;margin-left:30px;">
				<ul id="todo-list" class="list-group list-group-sp" ng-repeat="todo in todos | filter:title | orderBy: 'endDate'">
					<li class="list-group-item">
						<span style="margin-right:20px;">
							<input type="checkbox" name="done" id="{{ todo.id }}" ng-model="isdone" ng-init="isdone=todo.done === 1 ? true : false" ng-click="updateTodo($event, todo.id)" />
						</span>
						<span class="todo-name" ng-class="{ 'done-{{todo.done}}': isdone }">
							{{ todo.text }}
						</span>
						<button class="delete-button pull-right" ng-click="deleteTodo(todo.id)">
    						<span class="glyphicon glyphicon-remove"></span>
  						</button>

					</li>
				</ul>
			</div>
			<div ng-show="!todos.length" style="text-align:center;font-size:40px;">No Todos</div>
		</div>
	</section>
	<footer id="content-footer">
		<p class="checkbox">
			<label><input id="toggle-all" type="checkbox" ng-click="updateAllTodos($event)"> Mark all as complete</label>
		</p>
	</footer>
</div>